body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url('https://rare-gallery.com/mocahbig/391658-sunset-ocean-beautiful-scenery-4k-pc-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/414491/pexels-photo-414491.jpeg?cs=srgb&dl=pexels-pixabay-414491.jpg&fm=jpg');
  background-size: cover;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  z-index: 1;
}

.box {
  height: 700px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 2;
}

.inputs {
  margin-top: 250px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #d35400;
  background: linear-gradient(to right, rgba(16, 80, 110, 255) 0%, rgba(16, 80, 110, 255) 50%, rgba(37, 44, 52, 255) 50%, rgba(37, 44, 52, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
input[type="text"] {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(16, 80, 110, 255);
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  color: rgba(16, 80, 110, 255);
  background-color: rgba(37, 44, 52, 255);
  
}

/* Placeholder styles for input[type="text"] */
input[type="text"]::placeholder {
  color: rgba(16, 80, 110, 0.7);
  font-size: 20px;
}

button {
  padding: 12px 20px;
  background: linear-gradient(to right, rgba(16, 80, 110, 255) 0%, rgba(16, 80, 110, 255) 50%, rgba(37, 44, 52, 255) 50%, rgba(37, 44, 52, 255) 100%);
  color: #fff;
  border: none;
  border-radius: 50px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:nth-child(3) {
  background: linear-gradient(to right, rgba(16, 80, 110, 255) 0%, rgba(16, 80, 110, 255) 50%, rgba(37, 44, 52, 255) 50%, rgba(37, 44, 52, 255) 100%);
  border-radius: 3px;
}

button:hover {
  background: linear-gradient(to right, rgba(37, 44, 52, 255) 0%, rgba(37, 44, 52, 255) 50%, rgba(16, 80, 110, 255) 50%, rgba(16, 80, 110, 255) 100%);
  transform: scale(1.1);
}
